doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= article.title
    link(rel='stylesheet' href='/css/bootstrap.min.css',)
    link(rel='stylesheet' href='/css/freelancer.css',)
    link(rel='stylesheet' href='/css/index.css',)
    link(rel='stylesheet' href='/bower/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700',)
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic',)
    link(rel='stylesheet' href='/css/blog.css',)
    link(rel='stylesheet' href='/bower/highlightjs/styles/hybrid.css',)
    script(src="/js/google-analytics.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.5/angular-animate.min.js")
    script(src="/bower/marked/lib/marked.js")
    script(src="/bower/angular-marked/angular-marked.js")
    script(src="/bower/highlightjs/highlight.pack.min.js")
    script(src="/js/blog-post.js")
    script.
      var ARTICLE = !{JSON.stringify(article)};

  body(ng-app="app")
    .container(ng-controller="Article")
      .row
        .col-xs-12.col-lg-10.col-lg-offset-1.heading
          h1
            span= article.title
          p= article.description
          p.small= article.dateString
        .col-xs-12.col-lg-10.col-lg-offset-1.blog-content
          a(href="/blog")
            span.fa.fa-chevron-left
            span &nbsp;&nbsp;
            span Back to Articles
          hr
          div(marked="article.content")
          hr
        #Comments.col-xs-12.col-lg-10.col-lg-offset-1(ng-controller="Comments" ng-cloak)
          h2 Comments
          hr
          .row
            .col-xs-12
              .form-group
                textarea.form-control(
                    ng-model="comment" placeholder="Leave a note..."
                    ng-focus="showTip = true" ng-blur="showTip = false")
              .form-group
                .alert.alert-info.animate-show(ng-show="showTip") Tip: you can use Markdown
              .form-group
                input.form-control(type="text" ng-model="by" placeholder="Name (optional)")
              .form-group
                .alert.alert-success.animate-show(ng-show="sent") Thanks for the comment!
              .form-group
                .alert.alert-danger.animate-show(ng-show="error")
                  span {{ error === true ? 'Whoops, something went wrong.' : error }}
              a.btn.btn-success.pull-right(ng-mousedown="addComment()" ng-class="{disabled: sending}")
                span(ng-if="!sending") Submit
                span(ng-if="sending") Sending...
              .clearfix
              hr
          .row(ng-repeat="comment in comments")
            .col-xs-12
              h6 {{ comment.by || 'anonymous' }}
              .comment(marked="comment.text || '*No text provided*'")
              hr
